@import "../../components/Variables.scss";

.singles-title {
  border-bottom: $sizing-xs solid $secondary-color;
  margin-bottom: $sizing-s;
}

.content {
  display: flex;
}

.singles-list {
  margin-left: $sizing-xl;
}