@import "../../components/Variables.scss";

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-family;
}

ul {
  list-style-type: none;
  margin: 0;
}

// .content {
//   display: flex;
// }