@import "../../components/Variables.scss";

.playlist-title {
  color: $primary-color;
  border-bottom: $sizing-xs solid $primary-color;
  margin-left: 120px;
  margin-bottom: $sizing-s;
}

.title-playlist-container {
  margin-left: $sizing-l;
}

.playlist {
  margin: 0;
  padding: 0;
}